ipykernel
jupyter
nbformat
nbconvert
numpy
pandas
seaborn
kagglehub>=1.0.0,<2.0.0
matplotlib
scikit-learn
torch
pytest>=9.0.2,<10.0.0
xgboost>=2.0.0
fastapi
uvicorn
pydantic
joblib
swagger-ui-bundle
imbalanced-learn>=0.12.0